.buttons {
    display: flex;
    gap: 1.2rem;
    margin: 2.4rem 0;
}

.changeEmailField {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

/**************************/
/* Below 544px (Phones) */
/**************************/

@media (max-width: 34em) {
    .deleteButton {
        display: flex;
        justify-self: center;
    }
}