.recipeCardWithFeatures {
    display:flex;
    flex-direction: column;
    height: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
}

.managementButtons {
    display: flex;
    gap: 0.2rem;
    padding: 0.8rem 0 0.4rem 0;
}

.managementIcon {
    width: var(--font-size-subsection-title);
    height: var(--font-size-subsection-title);
    cursor: pointer;
}

.recipeLink {
    flex: 1;               /* allow it to grow/shrink */
    height: 100%;          /* fill parent height */
    width: 100%; 
}