.pageWrapper {
    display: flex;
    gap: var(--space-md);
}

.formContainer {
    width: 75%;
}

.formEditRecipe {
    gap: var(--space-xxl);
}

.imageContainer {
    margin-bottom: var(--space-xs);
}

.recipeImage {
    width: 20%;  
    object-fit: cover;
    aspect-ratio: 1;
}

.firstMeta {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
}

.metaInputControl {
    max-width: 8rem;
}

.metaInput::placeholder {
    color: var(--color-text-muted);
}

.metaTimeWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.metaTimeGroup {
    display: flex;
    justify-content: space-between;
    gap: var(--space-lg);
}

.totalTime {
    display: flex;
    gap: var(--space-xs);
}

.fieldGroup {
    display: flex;
    flex-direction: row;
    max-width: 80rem;
    gap: 1.2rem;
}

.sectionFieldTag {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 1.0rem;
}

.deleteButton {
    margin-left: 0.8rem;
}

.oneLineButton {
    white-space: nowrap;
}

.collapsibleBody {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    margin-top: var(--space-md);
}

.submitButtons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin: 7rem 0 1.2rem 0;
}

.previewAside {
    position: sticky;
    top: calc(var(--nav-bar-height) + 1rem);
    max-height: calc(100vh - 5rem);
    overflow: auto;
}