.recipeCard {
    display: flex;
    flex-direction: column;
    background-color: var(--background-cards);
}

.img {
    width: 100%;  
    object-fit: cover;
    aspect-ratio: 1;
}

.recipeContent {
    display: flex;
    flex-direction: column;
    padding: 2rem var(--space-sm) 2rem var(--space-sm);
    color: var(--grey);
}

.recipeName {
    display: -webkit-box;
    line-clamp: 2; /* max lines */
    -webkit-line-clamp: 2; /* max lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
}

.category {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-medium);
}

.categoryIcon {
    width: var(--space-lg);   /* circle size */
    height: var(--space-lg);  /* circle size */
    border-radius: 50%; /* makes it round */
    /* background-color: var(--accent-color, var(--primary-light)); */
}

.categoryText {
    font-size: inherit;
    font-weight: inherit;
}

.metaDataRow {
    margin-top: var(--space-sm);
    list-style: none;
    display: flex;
    gap: var(--space-sm);
}