.recipeCard {
    max-width: 60rem;
}

.recipeName {
    font-size: 2rem;
    font-weight: var(--font-weight-semi-bold);
}

.img {
    aspect-ratio: calc(16/10);
}

.info {
    display: flex;
    flex-direction: column;
    gap: inherit;
    margin-top: 0.6rem;
}

.recipeContent {
    padding: var(--space-md);
}

.recipeDescription {
    font-size: var(--font-size-meta);
    line-height: var(--line-height-loose);
    margin: 1.4rem 0;
    display: -webkit-box;           /* Required for line clamping */
    line-clamp: 2;
    -webkit-line-clamp: 2;          /* Number of lines to clamp */
    -webkit-box-orient: vertical;   /* Required for line clamping */
    overflow: hidden;               /* Hide overflow beyond clamp */
    text-overflow: ellipsis; 
}

.metaDivide {
    padding-top: var(--space-sm);
    margin-top: var(--space-sm);
    border-top: 1px solid var(--category-color, var(--grey-light));
}