/**************************/
/* Email change form */
/**************************/

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 70rem;
}

.buttons {
    display: flex;
    gap: 1.2rem;
    margin: 2.4rem 0;
    justify-content: center;
}

/**************************/
/* Success panel */
/**************************/

.contentBlock, .titleAndExplanation, .explanationBlock, .troubleshootingBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentBlock {
    gap: var(--space-md);
}

.explanationBlock {
    gap: var(--space-xxs);
}

.troubleshootingBlock {
    margin-top: var(--space-md);
    gap: var(--space-xs);
}

.troubleshootingList {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    list-style-position: inside;
    margin-left: var(--space-lg);
}

.primaryAction {
    margin-top: var(--space-md);
}

.resendEmailText{
    font-size: var(--font-size-subsection-title);
}

.secondaryActions {
    margin-top: var(--space-sm);
}

/**************************/
/* Below 544px (Phones) */
/**************************/

@media (max-width: 34em) {
    .deleteButton {
        display: flex;
        justify-self: center;
    }
}