.featuredList {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--space-xs);
    margin-bottom: var(--space-xs);
}

.scrollWrapper {
    display: flex;
    gap: 1.6rem;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;    /* or 'mandatory' if you want harder snaps */
    padding-bottom: 0.5rem; /* for scroll bar space */
    contain: inline-size; /* Fixes some min-width calculation from the scroll component being passed all the way up to the page min width, affecting weird default screen size loading on mobile */
}

.cardWrapper {
    flex: 0 0 auto; /* prevent flex items from shrinking */
    scroll-snap-align: start;
}

/* Hide scrollbar (WebKit)  HIDE THESE LATER WHEN I MAKE SIDE ARROWS TO NAVIGATE THROUGH THEM */
/* .scrollWrapper::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar (Firefox) */
/* .scrollWrapper {
  scrollbar-width: none;
} */
