.fieldArrayList {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style-type: none;
    margin-top: 1.6rem;
}

.fieldArrayListItem {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.fieldArraySection {
    color: var(--primary);
}

.moveItemArrows {
    display: flex;
    flex-direction: column;
}

.moveItemArrow {
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.fieldArraySectionContent {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 1.6rem;
    margin-top: 2.0rem;
}