.groceryList {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl)
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    margin: var(--space-md) var(--space-sm) 0 var(--space-sm);
}

.recipeTitle {
    padding-bottom: var(--space-sm);
    margin-bottom: var(--space-xs);
}

.for {
    margin-left: var(--space-xs);
}

.actionLine {
    display: flex;
    gap: var(--space-md);
    margin: var(--space-xs) 0 0 var(--space-xs);
}

.ingredientsList {
    gap: var(--space-xl)
}

.categoryTitle {
    font-weight: bold;
    padding-bottom: var(--space-sm);
    margin-bottom: var(--space-md);
}

.ingredientListItem {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: var(--space-xs);
    list-style-position: inside; /* Bring marker inside the content box */
}

.ingredientCheckbox {
    margin-right: var(--space-sm);
    width: 1.4rem;
    height: 1.4rem;
}

.miscellaneousSection {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.ingredientAmount {
    font-weight: var(--font-weight-semi-bold);
}

.unparsedIngredient {
    color: purple;
}

.optionalIngredient {
    color: var(--color-text-muted);
    font-size: var(--font-size-text);
}


/**************************/
/* Below 944px (Tablets) */
/**************************/
@media(max-width: 59em) {
    .ingredientsList {
        grid-template-columns: repeat(2, 1fr);
    }    
}

/**************************/
/* Below 704px (Small Tablets) */
/**************************/

@media (max-width: 44em) {
    .ingredientsList {
        grid-template-columns: repeat(1, 1fr);
    }
}