.heroContainer {
    padding: var(--space-md);
    border-radius: 1rem;
    background-color: var(--color-brand-primary-soft);
}

.recipeSections {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl)
}

.featuredRecipeContainer {
    max-width: 40rem;
}