.modalBackground {
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.85);
}

.modalCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2em 4em rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    max-width: 90%;
}

.danger {
    background-color: var(--danger);
}

.modalHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 2.0rem 2.4rem;
}

.modalCardTitle {
    font-weight: 700;
}

.modalCardContent {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);

    padding: 3.6rem 3.2rem;
    font-size: 1.6rem;
}

/**************************/
/* Below 704px (Small Tablets) */
/**************************/

@media (max-width: 44em) {
    .cardList.cardList {
        grid-template-columns: repeat(2, 1fr);
    }
}