.contentBlock, .titleAndExplanation, .explanationBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contentBlock {
    gap: var(--space-md);
}

.explanationBlock {
    gap: var(--space-xxs);
}

.primaryAction {
    margin-top: var(--space-md);
}

.primaryButtonText {
    font-size: var(--font-size-subsection-title)
}

.secondaryActions {
    margin-top: var(--space-xs);
}