.sectionEdit {
    padding: 3.6rem 0;
}

.editAccount {
    display: flex;
    justify-content: end;
}

.sectionAccountInfo {
    padding: 3.6rem 0 6.8rem 0;
}

.accountInfo {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

.accountInfoField {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 60rem;
}

.accountInfoLabel {
    font-size: 1.8rem;
    font-weight: 500;
}

.accountInfoValue {
    font-size: 1.8rem;
}

.sectionChangePassword {
    padding: 3.6rem 0;
}

